// ==============================
// 基础配置
// ==============================

// 颜色
// ------------------------------
// 灰度色
black = #000
light-black = #020202
extra-light-black = #383838
gray = #666
light-gray = #999
extra-light-gray = #ccc
white = #FFF

// 彩色
red = #C0252E
orange = #F60
yellow = #FB0
green = #090
blue = #5393CB

// 表信息的辅助色
info-color = blue

// 表成功的辅助色
success-color = green

// 表警告的辅助色
warning-color = orange

// 表错误的辅助色
error-color = red

primary-color = red
// 圆角
// ------------------------------
border-radius-large = 4px
border-radius-base = 3px
border-radius-small = 2px


// 阴影效果
// ------------------------------
shadow-color = rgba(0, 0, 0, .3)
shadow-card = 0 1px 1px 0 rgba(0, 0, 0, .1)
shadow-up = 0 -1px 5px shadow-color
shadow-down = 0 1px 5px shadow-color
shadow-left = -1px 0 5px shadow-color
shadow-right = 1px 0 5px shadow-color
shadow-base = shadow-down


// 动画
// ------------------------------
animation-time = .2s
transition-time = .2s
